@page "/fetchdata"
@using TransactionApi.Shared
@using TransactionApi.Shared.Dto
@inject HttpClient Http

<h1>Available transactions</h1>


@if (_transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Transaction id</th>
                <th>Payment</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _transactions)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Payment</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TransactionDto[] _transactions;

    protected override async Task OnInitializedAsync()
    {
        _transactions = await Http.GetJsonAsync<TransactionDto[]>("api/transactions");
    }

}
