@page "/uploaddata"
@using System.IO
@inject HttpClient Client

<h1>Upload transactions</h1>

<p>Supported file types: xml,csv</p>

<InputFile OnChange="@HandleSelection" accept=".xml, .csv">Upload</InputFile>

<h6>@UploadStatus</h6>

@code {
    string UploadStatus = string.Empty;
    
    public async Task HandleSelection(IFileListEntry[] fileEntries)
    {
        var file = fileEntries.FirstOrDefault();
        if (file != null)
        {
            await using var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);

            var content = new MultipartFormDataContent {
                { new StringContent(file.Name), "\"name\""},
                { new ByteArrayContent(ms.GetBuffer()), "\"content\"", file.Name }
            };
            await Client.PostAsync("api/transactions/upload", content);
            UploadStatus = $"Finished uploading {file.Size} bytes from {file.Name}";
            StateHasChanged();
        }
    }
}
